# Preserve exact upstream redistribution texts, including original whitespace.
packages/native/notices/reactor-webrtc/third-party/*/LICENSE* -whitespace
packages/native/notices/reactor-webrtc/third-party/*/COPYING -whitespace
packages/native/notices/reactor-webrtc/third-party/*/PATENTS -whitespace
packages/native/notices/reactor-webrtc/third-party/*/README.chromium -whitespace
